
.table {
  width: 90%;
  margin: 20px auto;
  border: 1px solid #b89f9f; 
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  border: 1px solid #b89f9f; 
  padding: 12px;
}

.table th {
  background-color: #f2f2f2;
}


form {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  display: none;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label,
form input[type="text"],
form input[type="number"],
form textarea,
form input[type="file"],
form button[type="submit"] {
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 22px);
  box-sizing: border-box;
}

form input[type="file"],
form button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

form input[type="file"]:hover,
form button[type="submit"]:hover {
  background-color: #0056b3;
}


#addMovieButton,
.movie-edit-button {
  margin: 20px auto;
  padding: 12px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
}

#addMovieButton:hover,
.movie-edit-button:hover {
  background-color: #0056b3;
}


h1, h2 {
  text-align: center;
}
.movie-delete-button,
.movie-edit-button {
  margin: 5px; 
  padding: 8px 16px;
  border: none;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
}

.movie-delete-button:hover,
.movie-edit-button:hover {
  background-color: #c82333; 
}